<h1 class="my-4 text-center">Edit profile</h1>
<div class="d-flex justify-content-center">
  <%= form_with model: @user do |f| %>
    <%= render 'shared/form_fields', form: f, user: @user, fields: [[:username, 'text'], [:profile_picture, 'file'], [:industry, 'text']] %>
    <div class="mb-3">
      <%= f.label :visibility, class: 'form-label' %>
      <div>
        <%= f.collection_radio_buttons :visibility, [['pub', 'Public'], ['priv', 'Private']], :first, :last do |b| %>
          <div class="form-check form-check-inline">
            <%= b.radio_button %>
            <%= b.label class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
    <% if @user.role == 'freelancer' %>
      <%= render 'freelancer_form_fields', f: %>
      <%= f.hidden_field :category_ids, value: "", multiple: true %>
    <% end %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% end %>
</div>
<% unless admin? %>
  <%= render 'shared/footer', previous_page: @user %>
<% else %>
  <%= render 'shared/footer', previous_page: users_path %>
<% end %>
